html {
  font-size: 32px;
  -webkit-text-size-adjust: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-size: 1rem;
}

code {
  font-family: Arial, sans-serif !important;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

pre {
  background-color: #000;
  color: #fff;
  font-size: 2.5vw;
  overflow: auto;
}

@media screen and (min-width: 800px) {
  body,
  p {
    font-size: 0.6rem;
  }
  pre {
    font-size: 20px;
  }
}

pre .flex.items-center.relative {
  display: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.flashcard-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flashcard {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

.flashcard:hover {
  background-color: #ebebeb;
}

.front-content {
  color: #333;
}

.back-content {
  color: #fff;
  background-color: #333;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button,
.tab-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem;
}

.button:hover {
  background-color: #555;
}

button.tab-button.active {
  background-color: #2ad91b;
}

.random-order-container {
  margin-top: 6rem;
  display: flex;
  align-items: center;
}

.random-order-container label {
  margin-right: 10px;
}

.random-order-container input[type="checkbox"] {
  cursor: pointer;
}

.current-index-banner {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.version-banner {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}
